html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* background-color: khaki; */
  padding: 50px 0px;
}

.header__list {
  width: 283px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-link {
  height: 15px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.header__list-link:active {
  color: #333D4B;
}

.intro {
  background-image: url(/images/Bitmap.png);
  padding-bottom: 117px;
  padding-top: 117px;
  padding-left: 85px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border-color: none;
  margin-bottom: 136px;
}

.intro__title {
  margin-bottom: 24px;
  width: 493px;
  height: 145px;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.intro__text {
  margin-bottom: 56px;
  width: 445px;
  height: 78px;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.intro__button {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
  border: none;
}

.intro__button:hover {
  background-color: #66D2CF;
}

.collection {
  padding-left: 85px;
  padding-right: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.collection__list {
  margin-top: -75px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__item {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__item-img {
  margin-bottom: "71px";
}

.collection__item-title {
  margin-top: "71px";
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 24px;
}

.collection__item-text {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.whychoosing__back {
  background-color: #2C343E;
  border-radius: 10px;
  padding-left: 370px;
  padding-right: 370px;
  padding-top: 100px;
}

.whychoosing__back-title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.whychoosing__back-text {
  width: 540px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
  padding-bottom: 317px;
}

.whychoosing__list {
  margin-top: -260px;
  margin-left: 45px;
  margin-right: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whychoosing__item {
  width: 350px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 48px;
  padding-left: 47px;
  padding-top: 72px;
  padding-bottom: 48px;
  background: #0E8784;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whychoosing__item-img {
  margin: 0;
  margin-bottom: 56px;
}

.whychoosing__item-title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.whychoosing__item-text {
  width: 255px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.how-it-works {
  padding-right: 85px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works__title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

.how-it-works__line {
  margin: 0;
  width: 830px;
  height: 5px;
  border: 1px solid #FDD6BA;
  background-color: #FDD6BA;
}

.how-it-works__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
  padding: 0;
}

.how-it-works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 95px;
}

.how-it-works__item::before {
  content: "";
  margin-top: -20px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #FEFCF7;
  border: 2px solid #0E8784;
}

.how-it-works__item-numbers {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.how-it-works__item-title {
  width: 255px;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.how-it-works__item-text {
  width: 285px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.how-it-works__intro-button {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
  border: none;
}

.how-it-works__intro-button:hover {
  background-color: #66D2CF;
}

.footer {
  margin: 0px;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2C343E;
  margin-bottom: 88px;
}

.footer__left {
  padding-left: 85px;
  width: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left-list {
  width: 283px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left-list a {
  height: 15px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}

.footer__left-list a:active {
  color: #FEFCF7;
}

.footer__medias {
  width: 120px;
  margin-right: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__medias img {
  display: block;
  width: 24px;
  height: 19.5px;
}

.footer__medias img:hover {
  color: #FDD6BA;
}

.intro2 {
  background-image: url(/images/Bitmapaboutus11x.png);
  padding-bottom: 137px;
  padding-top: 137px;
  padding-left: 85px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border-color: none;
  margin-bottom: 168px;
}

.intro2__title {
  margin-bottom: 24px;
  width: 493px;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.intro2__text {
  width: 445px;
  height: 78px;
  font-family: 'Barlow', sans-serif;
  opacity: 0.8;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.commitment {
  padding-left: 85px;
  padding-right: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 168px;
}

.commitment__img {
  margin: 0;
  width: 445px;
  height: 520px;
  border-radius: 8px;
  border-color: none;
}

.commitment__img img {
  border-radius: 8px;
}

.commitment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}

.commitment__content h3 {
  margin: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.commitment__content p {
  margin: 0;
  width: 540px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2C343E;
  border-radius: 10px;
  margin-bottom: 180px;
}

.quality__back {
  padding-top: 88px;
  padding-left: 85px;
  padding-bottom: 176px;
}

.quality__back-title {
  margin: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.quality__back-text {
  margin: 0;
  width: 540px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.quality__image {
  margin: 0;
  width: 445px;
  height: 474px;
  border-radius: 8px;
  margin-right: 85px;
  position: relative;
  margin-top: -100px;
}

.quality__image img {
  border-radius: 8px;
}

.headquarters {
  padding-right: 85px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

.headquarters__title {
  display: block;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}

.headquarters__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
  padding: 0;
}

.headquarters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 95px;
}

.headquarters__item-img {
  width: 41px;
  height: 41px;
  margin-bottom: 45px;
}

.headquarters__item-title {
  width: 272px;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}

.headquarters__item-text {
  margin: 0;
  width: 285px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
/*# sourceMappingURL=style.css.map */