.quality{
    display: flex;
    justify-content: space-between;
    background-color: #2C343E;
    border-radius: 10px;
    margin-bottom: 180px;

    &__back{
        padding-top: 88px;
        padding-left: 85px;
        padding-bottom: 176px;

        &-title{
            margin: 0;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
            margin-bottom: 32px
        }
        &-text{
            margin: 0;
            width: 540px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            opacity: 0.8;
        }
    }
    
    &__image {
        margin: 0;
        width: 445px;
        height: 474px;
        border-radius: 8px;
        margin-right: 85px;
        position: relative;
        margin-top: -100px;

        & img{
            border-radius: 8px;
        }
    }

}