.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: khaki; */
    padding: 50px 0px;

    &__list {
        width: 283px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-link{
            height: 15px;
            font-family: Barlow;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #83888F;
            text-decoration: none;

            &:active{
                color: #333D4B;
            }
        }
    }
}